### Soal Tipe Data

In [27]:
# data

company_name_list = [{'name': 'Company 1'},
          {'name': 'Company 2'},
          {'name': 'Company 3'}]

employee_name_list = [{'name': 'John Doe'},
          {'name': 'Tom Smith'},
          {'name': 'Andrew Sebastian'}]

company_detail_list = {
      'Company 1': {
          'name': 'Company 1',
          'domain': 'Retail',
          'clients': [
              {
                  'name': 'acme.inc',
                  'country': 'united states'
              },
              {
                  'name': 'Wayne.co',
                  'country': 'united states'
              }
          ]
      },
      'Company 2': {
          'name': 'Company 2',
          'domain': 'Construction',
          'clients': [
              {
                  'name': 'Tesla',
                  'country': 'united states'
              },
              {
                  'name': 'Japan Airlines',
                  'country': 'japan'
              },
              {
                  'name': 'Indofood',
                  'country': 'indonesia'
              }
          ]
      },
      'Company 3': {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'clients': [
              {
                  'name': 'Petronas',
                  'country': 'malaysia'
              },
              {
                  'name': 'VW Group',
                  'country': 'germany'
              },
              {
                  'name': 'IBM',
                  'country': 'united states'
              },
              {
                  'name': 'Mitsubishi',
                  'country': 'japan'
              }
          ]
      }
  }

employee_detail_list = {
      'John Doe': {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1'
      },
      'Tom Smith': {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2'
      },
      'Andrew Sebastian': {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 2'
      },
  }

#### Petunjuk:
Dari data di atas kerjakan soal di bawah untuk nomor **1 - 4**, sebisa mungkin gunakan comprehension loop apabila ada perulangan:

### 1 
Please get the list of all Companies and sort by **Company Domain** in reverse order.

Expected result:


```json
[{
    "name": "Company 1", 
    "domain": "Retail"
}, {
    "name": "Company 3", 
    "domain": "Healthcare"
}, {
    "name": "Company 2", 
    "domain": "Construction"
}]
```

In [2]:
def sort_company():
    company_detail_list = {
        'Company 1': {
            'name': 'Company 1',
            'domain': 'Retail',
            'clients': [
                {
                    'name': 'acme.inc',
                    'country': 'united states'
                },
                {
                    'name': 'Wayne.co',
                    'country': 'united states'
                }
            ]
        },
        'Company 2': {
            'name': 'Company 2',
            'domain': 'Construction',
            'clients': [
                {
                    'name': 'Tesla',
                    'country': 'united states'
                },
                {
                    'name': 'Japan Airlines',
                    'country': 'japan'
                },
                {
                    'name': 'Indofood',
                    'country': 'indonesia'
                }
            ]
        },
        'Company 3': {
            'name': 'Company 3',
            'domain': 'Healthcare',
            'clients': [
                {
                    'name': 'Petronas',
                    'country': 'malaysia'
                },
                {
                    'name': 'VW Group',
                    'country': 'germany'
                },
                {
                    'name': 'IBM',
                    'country': 'united states'
                },
                {
                    'name': 'Mitsubishi',
                    'country': 'japan'
                }
            ]
        }
    }

    search_data = []
    for data in company_detail_list.values():
        search_data.append({
            'name': data['name'],
            'domain': data['domain']
        })

    print(search_data)

sort_company()
pass

[{'name': 'Company 1', 'domain': 'Retail'}, {'name': 'Company 2', 'domain': 'Construction'}, {'name': 'Company 3', 'domain': 'Healthcare'}]

### 2
Please print all Domain value in every company.

Expected return:

```
Company 1: Retail, relation: 2 clients
Company 2: Construction, relation: 3 clients
Company 3: Healthcare, relation: 4 clients
```

In [3]:
# lengkapi function berikut
def get_company_domain():
    company_detail_list = {
        'Company 1': {
            'name': 'Company 1',
            'domain': 'Retail',
            'clients': [
                {
                    'name': 'acme.inc',
                    'country': 'united states'
                },
                {
                    'name': 'Wayne.co',
                    'country': 'united states'
                }
            ]
        },
        'Company 2': {
            'name': 'Company 2',
            'domain': 'Construction',
            'clients': [
                {
                    'name': 'Tesla',
                    'country': 'united states'
                },
                {
                    'name': 'Japan Airlines',
                    'country': 'japan'
                },
                {
                    'name': 'Indofood',
                    'country': 'indonesia'
                }
            ]
        },
        'Company 3': {
            'name': 'Company 3',
            'domain': 'Healthcare',
            'clients': [
                {
                    'name': 'Petronas',
                    'country': 'malaysia'
                },
                {
                    'name': 'VW Group',
                    'country': 'germany'
                },
                {
                    'name': 'IBM',
                    'country': 'united states'
                },
                {
                    'name': 'Mitsubishi',
                    'country': 'japan'
                }
            ]
        }
    }

    search_companies = []
    for data in company_detail_list.values():
        search_companies.append({
            'name': data['name'],
            'domain': data['domain'],
            'clients': len(data['clients'])
        })

    for data in search_companies:
        print(f"{data['name']}: {data['domain']}, relation: {data['clients']} clients")

get_company_domain()
pass

Company 1: Retail, relation: 2 clients
Company 2: Construction, relation: 3 clients
Company 3: Healthcare, relation: 4 clients

### 3
Create a function that return employees with it's company domain.

Expected return:


```json
[{
    "full_name": "John Doe",
    "company": "Company 1",
    "domain": "Retail"
}, {
    "full_name": "Tom Smith",
    "company": "Company 2",
    "domain": "Construction"
}, {
    "full_name": "Andrew Sebastian",
    "company": "Company 2",
    "domain": "Construction"
}]
```

In [28]:
# lengkapi function berikut
def get_employees():
    company_detail_list = {
        'Company 1': {
            'name': 'Company 1',
            'domain': 'Retail',
            'clients': [
                {
                    'name': 'acme.inc',
                    'country': 'united states'
                },
                {
                    'name': 'Wayne.co',
                    'country': 'united states'
                }
            ]
        },
        'Company 2': {
            'name': 'Company 2',
            'domain': 'Construction',
            'clients': [
                {
                    'name': 'Tesla',
                    'country': 'united states'
                },
                {
                    'name': 'Japan Airlines',
                    'country': 'japan'
                },
                {
                    'name': 'Indofood',
                    'country': 'indonesia'
                }
            ]
        },
        'Company 3': {
            'name': 'Company 3',
            'domain': 'Healthcare',
            'clients': [
                {
                    'name': 'Petronas',
                    'country': 'malaysia'
                },
                {
                    'name': 'VW Group',
                    'country': 'germany'
                },
                {
                    'name': 'IBM',
                    'country': 'united states'
                },
                {
                    'name': 'Mitsubishi',
                    'country': 'japan'
                }
            ]
        }
    }

    employee_detail_list = {
        'John Doe': {
            'name': 'EMP-0001',
            'first_name': 'John',
            'last_name': 'Doe',
            'full_name': 'John Doe',
            'company': 'Company 1'
        },
        'Tom Smith': {
            'name': 'EMP-0002',
            'first_name': 'Tom',
            'last_name': 'Smith',
            'full_name': 'Tom Smith',
            'company': 'Company 2'
        },
        'Andrew Sebastian': {
            'name': 'EMP-0003',
            'first_name': 'Andrew',
            'last_name': 'Sebastian',
            'full_name': 'Andrew Sebastian',
            'company': 'Company 2'
        },
    }

    data_employee = []

    for employee in employee_detail_list.values():
        name_company = employee['company']
        domain = company_detail_list[name_company]['domain']
        data_employee.append({
            "full_name": employee['full_name'],
            "company": name_company,
            "domain": domain
        })

    return data_employee

employees_list = get_employees()

for show in employees_list:
    print(show)

pass

{'full_name': 'John Doe', 'company': 'Company 1', 'domain': 'Retail'}
{'full_name': 'Tom Smith', 'company': 'Company 2', 'domain': 'Construction'}
{'full_name': 'Andrew Sebastian', 'company': 'Company 2', 'domain': 'Construction'}

### 4
Create a function that return companies with list of employees that are working in the company.

Expected return:


```json
[{
    "company": "Company 1",
    "employees": ["John Doe"]
}, {
    "company": "Company 2",
    "employees": ["Tom Smith", "Andrew Sebastian"]
}, {
    "company": "Company 3",
    "employees": []
}]
```

In [4]:
# lengkapi function berikut
def get_employees_by_company():
    company_detail_list = {
        'Company 1': {
            'name': 'Company 1',
            'domain': 'Retail',
            'clients': [
                {
                    'name': 'acme.inc',
                    'country': 'united states'
                },
                {
                    'name': 'Wayne.co',
                    'country': 'united states'
                }
            ]
        },
        'Company 2': {
            'name': 'Company 2',
            'domain': 'Construction',
            'clients': [
                {
                    'name': 'Tesla',
                    'country': 'united states'
                },
                {
                    'name': 'Japan Airlines',
                    'country': 'japan'
                },
                {
                    'name': 'Indofood',
                    'country': 'indonesia'
                }
            ]
        },
        'Company 3': {
            'name': 'Company 3',
            'domain': 'Healthcare',
            'clients': [
                {
                    'name': 'Petronas',
                    'country': 'malaysia'
                },
                {
                    'name': 'VW Group',
                    'country': 'germany'
                },
                {
                    'name': 'IBM',
                    'country': 'united states'
                },
                {
                    'name': 'Mitsubishi',
                    'country': 'japan'
                }
            ]
        }
    }

    employee_detail_list = {
        'John Doe': {
            'name': 'EMP-0001',
            'first_name': 'John',
            'last_name': 'Doe',
            'full_name': 'John Doe',
            'company': 'Company 1'
        },
        'Tom Smith': {
            'name': 'EMP-0002',
            'first_name': 'Tom',
            'last_name': 'Smith',
            'full_name': 'Tom Smith',
            'company': 'Company 2'
        },
        'Andrew Sebastian': {
            'name': 'EMP-0003',
            'first_name': 'Andrew',
            'last_name': 'Sebastian',
            'full_name': 'Andrew Sebastian',
            'company': 'Company 2'
        },
    }

    for employee in employee_detail_list.values():
        name_company = employee['company']
        companies[name_company].append(employee['full_name'])

    data_employee = []
    for company, employee in companies.items():
        data_employee.append({
            "company": company,
            "employees": employee
        })

    return data_employee

employees_list_by_company = get_employees_by_company()

for show in employees_list_by_company:
    print(show)

pass

NameError: name 'companies' is not defined

### Soal pre-processing data

In [7]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer

ModuleNotFoundError: No module named 'pandas'

In [6]:
startup_data = pd.read_csv('50_Startups.csv')

NameError: name 'pd' is not defined

In [15]:
startup_data.sample(7)

# Analisis data kosong
missing_values = startup_data.isnull().sum()
print("Data kosong:\n", missing_values)

# Mengisi data kosong dengan nilai mean
mean_imputer = SimpleImputer(strategy='mean')
startup_data[['R&D Spend', 'Administration', 'Marketing Spend', 'Profit']] = mean_imputer.fit_transform(startup_data[['R&D Spend', 'Administration', 'Marketing Spend', 'Profit']])

# One-hot encoding untuk kolom 'State'
encoder = OneHotEncoder()
state_encoded_matrix = encoder.fit_transform(startup_data[['State']])
state_encoded_df = pd.DataFrame(state_encoded_matrix.toarray(), columns=encoder.get_feature_names_out(['State']))
startup_data = pd.concat([startup_data, state_encoded_df], axis=1)
startup_data.drop('State', axis=1, inplace=True)

# Membuat kolom baru 'Tax'
startup_data['Tax'] = (startup_data['Profit'] + startup_data['Marketing Spend'] + startup_data['Administration']) * 0.05

# StandardScaler untuk semua fitur kecuali 'Profit'
scaler = StandardScaler()
columns_to_scale = [col for col in startup_data.columns if col != 'Profit']
startup_data[columns_to_scale] = scaler.fit_transform(startup_data[columns_to_scale])

# Menampilkan data setelah preprocessing
print("Data setelah preprocessing:\n", startup_data.head())

NameError: name 'startup_data' is not defined

### Soal
Dari data di atas lakukan pre-processing sbb:
1. Lakukan analisa mengenai field mana saja yang memiliki data kosong(Nan) lalu Isi data yang kosong tersebut menggunakan nilai mean
2. lakukan oneHotEncoder ke field state
3. buat field baru yaitu Tax. dimana Tax = (profit + Marketing Spend + administration) * 5%
4. Jalankan standardScaler field-field tersebut

### Ketentuan dan Deadline

1. Buat masing-masing repositori di github account
2. Soal dikerjakan di repositori tsb.
3. Jawaban yang dikumpulkan di **e-learning** merupakan link github dari repositori di atas.
4. Deadline pengumpulan soal adalah hari rabu, 15 Mei 2024 pukul 23:59.